.main {
  margin-block: 150px;
}

.title {
  margin-bottom: 80px;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (max-width: 1024px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 768px) {
  .title {
    margin-bottom: 60px;
    font-size: 40px;
  }
}

@media (max-width: 425px) {
  .title {
    font-size: 32px;
  }
}
