.about {
  margin-block: 120px 95px;
}

.title {
  margin-bottom: 60px;
  font-size: 64px;
  text-align: center;
}

.text {
  margin-inline: auto;
  max-width: 850px;
  font-size: 28px;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
}

@media (max-width: 1024px) {
  .about {
    margin-block: 60px;
  }

  .title {
    margin-bottom: 40px;
    font-size: 52px;
  }

  .text {
    font-size: 24px;
  }
}

@media (max-width: 425px) {
  .title {
    font-size: 42px;
  }

  .text {
    font-size: 20px;
  }
}
