.header {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  font-size: 72px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}

.scroll {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
}

@media (max-width: 1024px) {
  .title {
    padding-inline: 20px;
    width: 100%;
    max-width: 700px;
    font-size: 64px;
  }
}

@media (max-width: 425px) {
  .title {
    width: 100%;
    font-size: 52px;
  }
}
