@use './../../styles/variables.scss' as *;

.main {
  margin-block: 150px;
}

.title {
  margin-bottom: 80px;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}

@media (max-width: 768px) {
  .title {
    margin-bottom: 60px;
    font-size: 40px;
  }
}
