@import './../../styles/variables.scss';

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-block: 80px;
  border-top: 1px solid $line-color;
  border-bottom: 1px solid $line-color;
}

.title {
  margin-bottom: 26px;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;

  & > a {
    transition: all 0.3s;

    &:hover {
      color: $accent-color;
    }
  }
}
